# Builds and publishes the documentation website to gh-pages branch
name: RepositoryStatus

on:
  schedule:
    - cron: "00 18 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v3
        with:
          ref: main
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Sync dependencies
        run: uv sync --no-dev
      - name: pandoc
        run: sudo apt-get install -y pandoc
      - name: Run RepositoryStatus
        env:
          CREDENTIAL_GITHUB: ${{ secrets.CREDENTIAL_GITHUB }}
          CREDENTIAL_GOOGLE: ${{ secrets.CREDENTIAL_GOOGLE }}
        run: |
          uv run main.py
